# Triangle Motion Planning example
# demo 1 input

interactive = 0		# 0=interactive, >0 is non-interactive

startX = 250		# start configuration
startY = 350
goalX = 90		# goal configuration
goalY = 125

epsilon = 2		# resolution parameter

R = 14		# Disc Size

inputDir = inputs	# where to find input files
fileName = bugtrap_vor.txt	# input environment file

boxWidth = 512		# initial configuration box size
boxHeight = 512

windowPosX = 320	# initial Window position
windowPosY = 20	

Qtype = 2		# type of priority queue
			#  (0=random, 1=BFS, 2=Greedy Best First, 3=Dist+size, 4=Vor?) 
seed = 11		# seed for random
step = 0		# number of steps to run
			#	(step=0 means run to completion)
xtrans = 0		# x-translation of input file
ytrans = 0		# y-translation of input file
scale = 1		# scaling of input file

animationSpeed = 99
animationSpeedScale = 5000
animationSpeedScaleBox = 1

verbose = 0		# if true, display statistics

# title = disc Motion Planning		# Title of control panel

#s marterStrategy = 0 # Two-Strategy Option    0: original 1: smarter
# smarterStrategy = 1 # Two-Strategy Option    0: original 1: smarter

# threshold = 4		# threshold for angular split: if |phi(B)| <= threshold,