# Rod Robot in 3D

start_x = 188
start_y = 96
start_z = 288
start_rotation_x = 1
start_rotation_y = 0
start_rotation_z = 0.2
goal_x = 192
goal_y = 192
goal_z = 32
goal_rotation_x = 0.5
goal_rotation_y = 1
goal_rotation_z = 0.5

epsilon = 4
rod_length = 60

input_dir = inputs	# where to find input files
filename = simple_tetrahedron.txt	# input environment file

box_width = 512		# initial configuration box size

window_pos_x = 320	# initial Window position
window_pos_y = 20

search_type = 4
random_seed = 11 # seed for random
step = 0		 # number of steps to run
                 #	(step=0 means run to completion)
xtrans = 0		 # x-translation of input file
ytrans = 0		 # y-translation of input file
scale = 1		 # scaling of input file

animation_speed = 90

verbose = 0		# if true, display statistics
