# 2016-07-21.23:08:27
# Non-crossing Thick 2-link Robot
# T-room4.txt environment

interactive = 0		# 0=interactive, >0 is non-interactive

startX = 256	# start configuration
startY = 390
startTheta1 = 260	# in degrees
startTheta2 = 280	# in degrees
goalX = 256		# goal configuration
goalY = 260
goalTheta1 = 280	# in degrees
goalTheta2 = 260	# in degrees

epsilon = 2		# resolution parameter

len1 = 100.00		# link1 length
len2 = 220.00		# link2 length
thickness = 20.00   # link thickness

ompl = 0
inputDir = inputs	# where to find input files
fileName = T-room4.txt       # input environment file

boxWidth  = 512		# initial configuration box size
boxHeight = 512

windowPosX = 320	# initial Window position
windowPosY = 20

Qtype = 2		# type of priority queue
                #  (0=random, 1=BFS, 2=Greedy Best First, 3=Dist+size, 4=Vor?)
seed = 11		# seed for random
step = 0		# number of steps to run
                # (step=0 means run to completion)
xtrans = 0.000000	# x-translation of input file
ytrans = 0.000000	# y-translation of input file
scale  = 1.000000	# scaling of input file

non-crossing = 1
bandwidth    = 19

animationSpeed = 99
animationSpeedScale = 5000
animationSpeedScaleBox = 4000
verbose = 0		# if true, display statistics
